<div class="landing-container">
  <div class="overlay"></div>
  <div class="text-center signup-btn-container">
    <a data-toggle="modal" data-target="#exampleModal" class="signup-btn">GET STARTED</a>
  </div>
</div>
<div class="tweets--container">
  <div class="tweets--container-h">
    Search gifs by trending twitter tags today
  </div>
  <div class="tweets--container-ul">
    <app-tag *ngFor="let tag of tags" [tag]="tag" class="tweet"></app-tag>
  </div>
</div>
<div class="card-container">
  <div class="card-columns">
    <app-card *ngFor="let gif of gifs" [gif]="gif"></app-card>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <span class="modal-title-1">Login</span>
          <span class="modal-title-2">Signup</span>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="login-details">
          <form>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="password" class="col-form-label">Password:</label>
              <input type="password" class="form-control">
            </div>
          </form>
          <div class="text-center">
            <button type="button" class="btn btn-primary">Login</button>
          </div>
        </div>
        <div class="signup-details">
          <form>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="password" class="col-form-label">Password:</label>
              <input type="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirm-password" class="col-form-label">Confirm Password:</label>
                <input type="password" class="form-control">
              </div>
          </form>
          <div class="text-center">
            <button type="button" class="btn btn-primary">Signup</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>