<div *ngIf="!isLogged" class="landing-container">
  <div class="overlay"></div>
  <div class="text-center signup-btn-container">
    <a data-toggle="modal" data-target="#exampleModal" class="signup-btn">GET STARTED</a>
  </div>
</div>
<div class="tweets--container">
  <div class="tweets--container-h" *ngIf="!loading">
    Search gifs by trending twitter tags today
  </div>
  <div class="tweets--container-ul">
    <app-tag *ngFor="let tag of tags" [tag]="tag" class="tweet"></app-tag>
  </div>
</div>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div class="card-container">
  <div class="card-columns">
    <app-card *ngFor="let gif of gifs" [gif]="gif"></app-card>
  </div>
</div>
<app-auth></app-auth>