<div *ngIf="!isLogged" class="landing-container">
  <div class="overlay"></div>
  <div class="text-center signup-btn-container">
    <a data-toggle="modal" data-target="#exampleModal" class="signup-btn">GET STARTED</a>
  </div>
</div>
<div *ngIf="isLogged && !loading" class="tweets--container">
  <div class="tweets--container-h">
    Search gifs by favorited searches
  </div>
  <div class="noFav" *ngIf="(!favs.length)">
    No favorite added yet
  </div>
  <div class="favorites">
    <app-favs (onDelete)="onFavDelete($event)" *ngFor="let fav of favs" [fav]="fav" class="tweet"></app-favs>
  </div>
</div>
<div class="tweets--container">
  <div class="tweets--container-h">
    Search gifs by trending twitter tags today
  </div>
  <div class="tweets--container-ul">
    <app-tag *ngFor="let tag of tags" [tag]="tag" class="tweet"></app-tag>
  </div>
</div>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div class="card-container">
  <div class="card-columns">
    <app-card *ngFor="let gif of gifs" [gif]="gif"></app-card>
  </div>
</div>
<app-auth></app-auth>