/* You can add global styles to this file, and also import other style files */
body {
	margin: 0;
	padding: 0;
}

.text-center {
	text-align: center;
}

a, a:hover {
	text-decoration: none;
	color: #000
}

.flex-container {
	display: flex;
	flex-wrap: nowrap;
}