<div class="nav-container">
  <div class="nav-content flex-container">
    <div class="app-title">
      <a routerLink="/" href="" class="app-title-c">
        TWIGIF
      </a>
    </div>
    <div class="search-container-w">
      <form (submit)="onSearchSubmit()" #searchForm="ngForm">
        <input
          type="text"
          name="search"
          class="search-input"
          placeholder="search giphy"
          [(ngModel)]="searchText"
        >
      </form>
    </div>
    <div class="nav-items flex-container">
      <div class="nav-item">
        LOGIN
      </div>
      <div class="nav-item">
        SIGNUP
      </div>
    </div>
  </div>
</div>
<div class="search-container-m">
  <form (submit)="onSearchSubmit()" #searchForm="ngForm">
    <input
      type="text"
      name="search"
      class="search-input"
      placeholder="search text"
      [(ngModel)]="searchText"
    >
  </form>
</div>