<div class="card-container">
  <div *ngIf="notFound" class="not-found">
    <div class="not-found-t">
      No result found
    </div>
    <button routerLink="/" class="back-btn">
      Go back
    </button>
  </div>
  <div *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="(!loading && !notFound)">
    <div class="result-count">
      <div>
        <button routerLink="/" class="back-btn">
          Go back
        </button>
      </div>
      <span class="result-count-len">
        {{gifs.length}}
      </span>
      results found for
      <span class="search-q">
        {{searchQuery}}
      </span>
      <span *ngIf="isLogged" class="search-fav">
        (add search to favorite)
      </span>
    </div>
    <div class="card-columns">
      <app-card *ngFor="let gif of gifs" [gif]="gif"></app-card>
    </div>
  </div>
</div>