<div class="giphy-card-container">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/cover_img_1.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">#whatSelf</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/cover_img_1.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">#what</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/cover_img_1.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">#whatAgain</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>